/*Here is the fonts styles Start*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@500&family=Ubuntu:ital,wght@0,400;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

$testing: 'Dancing Script', cursive;
$bodyFont: 'Ubuntu', sans-serif;
$titleFont: 'Big Shoulders Inline Display', cursive;

h1,h2,h3,h4,h5{
    font-family: $titleFont;
    color: #333;
}
h1 
{
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
}
table{
    font-family: $bodyFont;
}
