/*Here is the fonts styles Start*/

//$testing to see font change
h1,h2,h3,h4,h5{
    font-family: $titleFont;
    color: $primaryColour;
}
h1 
{
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
}
table{
    font-family: $bodyFont;
}
