/*Here is the variables styles Start*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@500&family=Ubuntu:ital,wght@0,400;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

$richwhite: #c2c2c2;
$primaryColour: #32A6CD;
$testing: 'Dancing Script', cursive;
$bodyFont: 'Ubuntu', sans-serif;
$titleFont: 'Big Shoulders Inline Display', cursive;
$buttonFont: 'Roboto',sans-serif;