/*Here is the variables styles Start*/
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@500&family=Ubuntu:ital,wght@0,400;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
/*Start of the buttons code*/
a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  background-color: #c2c2c2;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a.button1:hover {
  color: white;
  background-color: #32A6CD;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0;
  border-radius: 0.15em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  background-color: #c2c2c2;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.dropdown:hover .dropbtn {
  color: white;
  background-color: #32A6CD;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown .dropdown-content a:hover {
  background-color: #ddd;
}

@media all and (max-width: 30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }
}

/*Here is the fonts styles Start*/
h1, h2, h3, h4, h5 {
  font-family: "Big Shoulders Inline Display", cursive;
  color: #32A6CD;
}

h1 {
  font-size: 150%;
  margin: 0;
  padding: .5em 0 .25em;
}

h2 {
  font-size: 120%;
  margin: 0;
  padding: .25em 0 .5em;
}

table {
  font-family: "Ubuntu", sans-serif;
}

/*Here is the header styles Start*/
header {
  margin: 0;
}

header h1 {
  margin: 0;
  padding: .5em 0;
  font-size: 2.5em;
}

nav ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

nav ul li {
  padding-bottom: 0.5em;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #32A6CD;
  color: white;
}

.topnav a.active {
  background-color: #32A6CD;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/*Here is the body styles Start*/
body {
  background-color: #c2c2c2;
}

#loginForm {
  color: black;
  text-align: center;
}

#loginForm h2 {
  text-align: center;
  font-size: 2em;
}

#loginForm input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 10px 0;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#loginForm input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 10px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#loginForm input[type=reset] {
  background-color: #db0e0e;
  color: white;
  padding: 10px 18px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

#loginForm input[type=reset]:hover {
  background-color: #ec0a0a;
}

#loginForm input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 18px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

#loginForm input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  /* margin-top: 0; */
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  padding: .5em 2em;
}

section {
  float: left;
  width: 800PX;
  padding-bottom: 1.5em;
}

ul {
  margin: 0 0 1em 0;
  padding: 0 0 0 2.5em;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: #29407c;
  font-weight: bold;
}

a:hover {
  color: #d08504;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

table td, table th {
  border: 1px dashed black;
  padding: .2em .5em .2em .5em;
  vertical-align: top;
  text-align: left;
}

form {
  margin: 0;
}

br {
  clear: left;
}

/* the styles for classes */
.right {
  text-align: right;
}

.last_paragraph {
  margin-bottom: 2em;
}

.margin_top_increase {
  margin-top: 1em;
}

#add_record_form {
  margin: .5em 0 1em;
}

#add_record_form label {
  width: 6em;
  padding-right: 1em;
  padding-bottom: .5em;
  float: left;
}

#add_record_form input {
  float: left;
}

#add_record_form input[text] {
  width: 15em;
}

#deleteUserButton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  top: 25%;
  left: 25%;
}

/*Here is the contact us form styles Start*/
#contactUs-form {
  margin: 2%;
  padding: 2%;
  border: 2px black solid;
  border-radius: 20px;
  text-align: center;
}

#contactUs-form h1 {
  text-align: center;
  text-decoration: underline;
}

#contactUs-form input[type=text] {
  border-radius: 20px;
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#contactUs-form textarea {
  width: 50%;
  height: 15%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#contactUs-form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contactUs-form input[type=submit]:hover {
  background-color: #45a049;
}

#contactUs-form .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*Here is the sidebar styles Start*/
aside {
  float: left;
  width: 150px;
}

/*Here is the footer styles Start*/
footer {
  clear: both;
  margin-top: 1em;
  border-top: 2px solid black;
}

footer p {
  text-align: right;
  font-size: 80%;
  margin: 1em 0;
}
/*# sourceMappingURL=mystyle.css.map */